{% extends 'layout.html' %} {% block content %}
<h1 class="title">{{ course.name }}</h1>
<h2 class="subtitle">{{ course.code }}</h2>
<hr>
<div class="content">
    <p><strong>Syllabus:</strong></p>
    <p>{{ course.sylabus }}</p>
</div>
{% if private_note %}
<div class="box">
    <p><strong>Private Note:</strong></p>
    <p>{{ private_note }}</p>
</div>
{% else %}
<div class="notification is-warning">
    You do not have permission to view the private note for this course. You can try to log in.
</div>
{% endif %}
<a href="{{ url_for('index') }}" class="button">Back to Course List</a>
{% endblock %}
